=tuxKeyframesFade($name, $from, $to)
  @at-root
    @keyframes #{$name}
      from
        visibility: visible
        opacity: $from
      to
        opacity: $to

=tuxKeyframesFadeIn($name)
  +tuxKeyframesFade($name, 0, 1)

=tuxKeyframesFadeOut($name)
  +tuxKeyframesFade($name, 1, 0)


=tuxKeyframesSlide($name, $fromX, $fromY, $toX, $toY, $fromOpacity:1, $toOpacity:1)
  @at-root
    @keyframes #{$name}
      from
        transform: translate($fromX, $fromY)
        @if $fromOpacity != $toOpacity
          visibility: visible
          opacity: $fromOpacity
      to
        transform: translate($toX, $toY)
        @if $fromOpacity != $toOpacity
          opacity: $toOpacity

=tuxKeyframesSlideHorizontal($name, $fromX, $toX, $fromOpacity:1, $toOpacity:1)
  +tuxKeyframesSlide($name, $fromX, 0, $toX, 0, $fromOpacity, $toOpacity)

=tuxKeyframesSlideVertical($name, $fromY, $toY, $fromOpacity:1, $toOpacity:1)
  +tuxKeyframesSlide($name, 0, $fromY, 0, $toY, $fromOpacity, $toOpacity)

=tuxKeyframesZoom($name, $fromScale, $toScale, $fromOpacity:1, $toOpacity:1)
  @at-root
    @keyframes #{$name}
      from
        transform: scale($fromScale)
        @if $fromOpacity != $toOpacity
          visibility: visible
          opacity: $fromOpacity
      to
        transform: scale($toScale)
        @if $fromOpacity != $toOpacity
          opacity: $toOpacity
