=position($mode, $top: false, $right: false, $bottom: false, $left: false)
  position: $mode
  @if $top
    top: $top
  @if $right
    right: $right
  @if $bottom
    bottom: $bottom
  @if $left
    left: $left

=absolute($top: false, $right: false, $bottom: false, $left: false)
  +position(absolute, $top, $right, $bottom, $left)

=relative($top: false, $right: false, $bottom: false, $left: false)
  +position(relative, $top, $right, $bottom, $left)

=fixed($top: false, $right: false, $bottom: false, $left: false)
  +position(fixed, $top, $right, $bottom, $left)

=static()
  +position(static)
