=tuxTransition($nameOut, $nameIn, $duration, $delay, $easeOut, $easeIn)
  animation: tuxKeyframesDummy $duration + $delay

  .transitionOrigin
    display: block
    animation: #{$nameOut} $duration $easeOut forwards

  .transitionTarget
    animation: #{$nameIn} $duration $delay $easeIn backwards


=tuxTransitionDissolve($name, $duration:500ms)
  animation: tuxKeyframesDummy $duration

  .transitionOrigin
    display: block
    animation: tuxKeyframesFadeOut $duration forwards

  .transitionTarget
    animation: tuxKeyframesFadeIn $duration backwards


=tuxTransitionCross($name, $duration:500ms, $delay:0ms, $easeIn:$easeOutQuad, $easeOut:$easeInOutQuad)
  animation: tuxKeyframesDummy $duration + $delay

  .transitionOrigin
    display: block

  .transitionTarget
    animation: tuxKeyframesFadeIn $duration $delay $easeIn backwards


=tuxTransitionRollHorizontal($name, $duration:500ms, $delay:0ms, $distance:100%, $dissolve:false, $easeIn:$easeInOutQuart, $easeOut:$easeInOutQuart)
  @if $dissolve
    +tuxKeyframesSlideHorizontal("#{$name}__in", $distance, 0, 0, 1)
    +tuxKeyframesSlideHorizontal("#{$name}__out", 0, -$distance, 1, 0)
  @else
    +tuxKeyframesSlideHorizontal("#{$name}__in", $distance, 0)
    +tuxKeyframesSlideHorizontal("#{$name}__out", 0, -$distance)

  animation: tuxKeyframesDummy $duration + $delay

  .transitionOrigin
    display: block
    animation: #{$name}__out $duration $easeOut forwards

  .transitionTarget
    animation: #{$name}__in $duration $delay $easeIn backwards


=tuxTransitionRollVertical($name, $duration:500ms, $delay:0ms, $distance:100%, $dissolve:false, $easeIn:$easeInOutQuart, $easeOut:$easeInOutQuart)
  @if $dissolve
    +tuxKeyframesSlideVertical(#{$name}__in, $distance, 0, 0, 1)
    +tuxKeyframesSlideVertical(#{$name}__out, 0, -$distance, 1, 0)
  @else
    +tuxKeyframesSlideVertical(#{$name}__in, $distance, 0)
    +tuxKeyframesSlideVertical(#{$name}__out, 0, -$distance)

  animation: tuxKeyframesDummy $duration + $delay

  .transitionOrigin
    display: block
    animation: #{$name}__out $duration $easeOut forwards

  .transitionTarget
    animation: #{$name}__in $duration $delay $easeIn backwards

=tuxTransitionZoom($name, $duration:500ms, $delay:0ms, $inScale:1.2, $outScale:0.8, $easeIn:$easeInOutQuart, $easeOut:$easeInOutQuart)
  +tuxKeyframesZoom(#{$name}__in, $inScale, 1, 0, 1)
  +tuxKeyframesZoom(#{$name}__out, 1, $outScale, 1, 0)

  animation: tuxKeyframesDummy $duration + $delay

  .transitionOrigin
    display: block
    animation: #{$name}__out $duration $easeOut forwards

  .transitionTarget
    animation: #{$name}__in $duration $delay $easeIn backwards
