@keyframes tuxKeyframesDummy
  from
    visibility: visible
  to
    visibility: visible

@keyframes tuxKeyframesFadeIn
  from
    visibility: visible
    opacity: 0
  to
    opacity: 1

@keyframes tuxKeyframesFadeOut
  from
    visibility: visible
    opacity: 1
  to
    opacity: 0